.weather-card {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;               
  padding: 12px;
  box-sizing: border-box;
  width: 100%;
    font-family: system-ui, sans-serif;

}

.weather-card p {
box-sizing: border-box;
  width: 48%;              
  margin: 0;
  padding: 6px 8px;
  border-bottom: 1px solid black;;
}


