:host{
    display: flex;
    flex-direction: column;
    width: 100%
    align-items: center;
    margin: 0 auto;
    border-radius: 5px;
    background: var(--card);
    color: var(--text)
}

.weather-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;   /* left-align everything */
  gap: 0.4rem;
  padding: 1rem;
  font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  color: var(--text)

}

.top-row {
  display: flex;
  width: 100%;
  justify-content: flex-start;  /* align to left */
  gap: 2rem; /* spacing between date and icon/temp */
  align-items: center;
}

.date-block {
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.icon-temp-block {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.icon-temp-block img {
  width: 70px;
  height: 70px;
}

.temperature {
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1;
}

.description-row {
  font-size: 1rem;
  text-transform: capitalize;
  margin-top: 0.3rem;
}
