
.route-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.route-view {
  position: absolute;
  top: 0;
  left: 100%; /* start off-screen right */
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease;
}

.route-view.active {
  transform: translateX(-100%); /* slide into place */
  left: 0;
}

.route-view.leaving {
  transform: translateX(-100%); /* slide out left */
}

.global-container{
  margin: 0 auto;
  position: relative;
   display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Optional: Adjust height to fill viewport */

}
.route-wrapper {
  width: 500px;
  position: relative;
  overflow: hidden;
  height: 100%; /* Or a fixed height */
}

.route-wrapper > div {
  width: 100%;
  height: 100%;
}


