<div class="five-day-forecast" *ngIf="forecast() as days">
  <div class="day-row" *ngFor="let d of days">
    <!-- Date -->
    <div class="date">{{ formatDate(d.dateMsLocal) }}</div>

    <!-- Temperature -->
<span class="temperature">
  {{
    unitService.convertTemp(d.temp) | number:'1.0-0'
  }}
  {{ unitService.getTempUnitLabel() }}
</span>
    <!-- Weather icon -->
    <div class="icon">
      <img 
        [src]="'https://openweathermap.org/img/wn/' + d.icon + '@2x.png'"
        [alt]="d.description"
        class="weather-icon"
      />
    </div>

    <!-- Description -->
    <div class="description">{{ translateDescription(d.description) }}</div>

    <!-- Wind -->
    <div class="wind" *ngIf="d.windSpeed !== null">
      <span
        class="wind-arrow"
        [style.transform]="'rotate(' + d.windDeg + 'deg)'"
        [title]="languageService.lang() === 'UA' ? 'Звідки дме вітер' : 'Direction wind is coming from'"
      >➤</span>
<span class="wind-speed">
  {{ d.windSpeed | number:'1.0-0' }}
  {{ languageService.lang() === 'UA' ? 'м/с' : 'm/s' }}
</span>    </div>
  </div>
</div>